/* Указываем box sizing */
*,
*::before,
*::after {
     box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
     padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
     margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html body{
	overflow-x: hidden;
}
body {
     min-height: 100vh;
     scroll-behavior: smooth;
     text-rendering: optimizeSpeed;
     line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
     list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
     text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
     max-width: 100%;
     display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
     margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
     font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
     * {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
     }
}

body {
     font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
     display: flex;
     min-height: 100vh;
}
.page {
     background-color: rgb(53, 47, 47);
     flex: 1 1 auto;
     color: rgb(255, 255, 255);
}
.page__container {
}
.container {
     padding: 30px 20px;
     max-width: 1200px;
     margin: 0 auto;
}
.definitions {
}
.definitions__main-title {
}
.main-title {
     font-size: 48px;
     text-align: center;
     padding: 0 0 30px 0;
     font-weight: 700;
}
.definitions__definition {
}
.definition {
     padding-bottom: 30px;
     line-height: 32px;
}
.definition:last-child {
     padding-bottom: 0;
}
.definition__title {
     display: inline-block;
     font-weight: 700;
     color: rgb(219, 51, 51);
     font-size: 20px;
     /* background-color: rgb(34, 7, 7); */
}
.column__title {
     font-weight: 700;
     color: rgb(219, 51, 51);
     font-size: 20px;
	 text-align: center;
	 font-size: 18px;
	 margin-bottom: 20px;
	 text-decoration: underline;
}
ul.list-column{
	margin-bottom: 20px;
}
.list-column__item{
	 position: relative;
     padding: 0 0 10px 20px;
}
.list-column__item::before {
     content: "";
     position: absolute;
     top: 15px;
     left: 0;
     width: 5px;
     height: 1px;
     background-color: rgb(219, 51, 51);
}
.item-bottom{
	padding: 0;
	margin: 0 0 10px 20px;
	position: static;
	list-style-type: disc;
}
.item-bottom:before{
	display: none;
}
ul.list-column:last-child{
	margin: 0;
}
ul.definition__list {
     margin-top: 15px;
}
ol.definition__list {
     list-style-type: decimal;
     margin-left: 20px;
     margin-top: 15px;
}
ol.definition__list .definition__list-item {
     position: static;
     padding: 0 0 10px 10px;
}
.definition__list-item {
     position: relative;
     padding: 0 0 10px 20px;
}
ul.definition__list .definition__list-item::before {
     content: "";
     position: absolute;
     top: 15px;
     left: 0;
     width: 5px;
     height: 1px;
     background-color: rgb(219, 51, 51);
}

.definition__title_center {
     text-align: center;
     display: block;
     font-size: 24px;
     font-weight: 700;
}
.definition-columns {
     display: flex;
     align-content: inherit;
     margin: 0 -20px;
     padding-top:45px;
     overflow-x: auto;
}
.column {
     flex: 0 1 33.333%;
     padding: 0 20px;
     border-right: 1px solid silver;
}
.column:last-child {
     border-right: 0px;
}
.gallery {
     margin-top: 20px;
}
.gallery img {
     max-width: 100%;
}
@media (max-width: 991.98px){
	  .definition-columns{
		  flex-wrap: wrap;
	  }
	  .column {
		  flex: 0 1 50%;
		  border: 1px solid silver;
	  }
	  .column:nth-child(2){
		  /* border-right: 0px; */
	  }
	  .column:last-child{
		 padding-top: 20px;
		 padding-bottom: 20px;
		  flex: 1 1 100%;
		  border-right: 1px solid silver;
		   border-top: 1px solid silver;
		  border-bottom: 1px solid silver;
	  }
}
.title{
	font-size: 24px;
	text-align: center;
	display: block;
}
@media (max-width: 767.98px) {
     .main-title {
          font-size: 34px;
     }
    .definition-columns{
		display: block;
		padding-top: 30px;
	}
	.column {
		padding-top: 20px;
		padding-bottom: 20px;
		border: 1px solid silver;
		  border-bottom: 0px solid silver;
	  }
     .definition__title {
          font-size: 18px;
     }
	 .title{
		 font-size: 22px;
	 }
     .definition__title_center {
          font-size: 20px;
     }
}
